1.The square bracket `[]` is used to assign an `empty list` to a variable.

2.If the list is `list1` than we can add element by `list1[2]='hello'`.

In [1]:
list1=[2,4,6,8,10]
list1[2]='hello'
list1

[2, 4, 'hello', 8, 10]

In [2]:
#3
spam=['a','b','c','d']
spam[int(int('3'*2)/11)] #'3'*2 will give 33 and then it is converted to integer and dividing by 11 gives 3

'd'

In [3]:
#4
spam[-1] #negative indexing is used that's why the last element is returned

'd'

In [4]:
#5
spam[:2] #here slicing operation is done from 0 to 2-1=1

['a', 'b']

In [5]:
#6
bacon=[3.14,'cat',11,'cat',True]
bacon.index('cat') #it returns the index of first item that it encounters.

1

7.`bacon.append(99)` will add the integer 99 to the end of list.

In [6]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8.`bacon.remove('cat')` will remove the first 'cat' string that it encounters.

In [7]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

9.In list concatenation we join two list. In list replication we duplicate the list.

In [8]:
l1=[1,2,3]
l2=['a','b','c']
print(l1+l2) # list concatenation
print(l1*2) # list replication

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3]

10.By append operation we can add element to the list only at last. <br>
By insert operation we can add element wherever we wish by giving the index.

In [9]:
l1=[2,3,4]
l2=['c','d','e']
l1.append(5)
print(l1)
l2.insert(0,'a') # first argument in insert is the index and the second one is the item we want to insert.
print(l2)

[2, 3, 4, 5]
['a', 'c', 'd', 'e']

11.We can remove elements from the list by two functions: i) `remove()` ii) `pop()`

In [10]:
l1.remove(4)
print(l1)
l2.pop()
print(l2)

[2, 3, 5]
['a', 'c', 'd']

12.List values are identical to string values in such a way that both `store data in sequence`. We can do `indexing` and `slicing` with both of them.

13.Tuples:<br>
i) Immutable <br>
ii) Insertion and Deletion can't be done directly<br>
List:<br>
i) Mutable<br>
ii) Insertion and Deletion can be done

14.If 42 is the only element then we will use `,` after 42. Eg:a=(42,)

15.If we want to convert list values to tuple form we will use `tuple()` function above list or list variable. Eg. tuple([1,2,3,4])<br>
If we want to convert tuple values to list form we will use `list()` function above tuple or tuple variable. Eg. list((1,2,3))

16.The list can contain multiple data types such as: i) int ii) float iii) string iv) boolean v) list vi) tuple vii) dictionary viii) set

In [11]:
l=[1,1.2,'A',True,[1,23],(5,4),{"a":8,"b":0},{7,8}]
type(l)

list

17.In copy.copy() the object reference is copied. If we make change in copied file it would be reflected in original object.<br>
<br>
In copy.deepcopy() the new object is created and there will be no change in original object if we make changes in copied object.