<a href="https://colab.research.google.com/github/adnanhussai9/FSDS-Assignment/blob/main/Python_Basic_Assignment/Py_Assignment_20_csv_txt_sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 20 Solutions

**1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

In [2]:
test1= 'This is a test of the emergency text system,'
with open('test.txt','w') as file:
  file.write(test1)
  file.close()

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

In [3]:
with open('test.txt','r') as file:
  test2 = file.read()
print(test2)
print(test1 == test2)

This is a test of the emergency text system,
True

No, there is no difference between these two.

3. Create a CSV file called books.csv by using these lines: <br>
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992<br>

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
  file.write(data)

In [5]:
with open('books.csv', 'r') as file:
  print(file.read())

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [6]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute('CREATE TABLE books (title text, author text, year integer)')
db.commit()
db.close()

**5. Read books.csv and insert its data into the books table.**

In [7]:
import sqlite3
import csv
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
with open('books.csv','r') as file:
  books = csv.DictReader(file)
  for book in books:
    cursor.execute("INSERT INTO books VALUES (?,?,?)", (book['title'], book['author'], book['year']))
conn.commit()
conn.close()

**6. Select and print the title column from the books table in alphabetical order.**

In [9]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
output = cursor.execute("SELECT title From books ORDER BY title ASC")
for items in output:
  print(items[0])
db.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

**7. From the books table, select and print all columns in the order of publication.**

In [13]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
query = 'SELECT * FROM books ORDER BY year ASC'
output = cursor.execute(query)
for record in output:
  print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

In [15]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

In [54]:
! python -m pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redis in /usr/local/lib/python3.10/dist-packages (4.5.4)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

**10. Increment the count field of test and print it.**

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')